<div class="container" *ngIf="note!=null">
  <form [formGroup]="updateForm">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Title" [value]='note.note' formControlName="title">
    </div>
    <div class="form-group">
      <select [value]='note.status' class="form-control" formControlName="status">
        <option *ngFor="let sts of stat" [value]="sts">{{sts}}</option>
      </select>
    </div>
    <div class="form-group">
      <textarea class="form-control" [value]='note.des' rows="10" formControlName="desc"></textarea>
    </div>
    <button type="button" class="btn btn-success" (click)="update()">Update</button>
    <button type="button" class="btn btn-danger" (click)="destroy()">Delete</button>
  </form>
</div>